@import url('pretendard/dist/web/static/pretendard.css');
@import url('./buttons.scss');

* {
  font-family: Pretendard;
  font-weight: 400;
}

html,
body {
  margin: 0;
}

// @use 'vuetify' with (

// );
